<!-- <div class="sidebar">
  <h2>Banking System</h2>
  <ul>
    <li [class.active]="currentRoute === '/dashboard'" (click)="navigateTo('dashboard')">
      <i class="icon">📊</i> Dashboard
    </li>
    <li [class.active]="currentRoute === '/manage-account'" (click)="navigateTo('manage-account')">
      <i class="icon">👤</i> Manage Account
    </li>
    <li [class.active]="currentRoute === '/search-account'" (click)="navigateTo('search-account')">
      <i class="icon">🔍</i> Search Account
    </li>
    <li [class.active]="currentRoute === '/view-transaction'" (click)="navigateTo('view-transaction')">
      <i class="icon">💸</i> View Transaction
    </li>
    <li [class.active]="currentRoute === '/view-balance'" (click)="navigateTo('view-balance')">
      <i class="icon">💰</i> View Balance
    </li>
    <li [class.active]="currentRoute === '/deposit-money'" (click)="navigateTo('deposit-money')">
      <i class="icon">🏦</i> Deposit Money
    </li>
    <li [class.active]="currentRoute === '/withdraw-money'" (click)="navigateTo('withdraw-money')">
      <i class="icon">💰</i>Withdraw Money
    </li>

    <li class="logout" (click)="logout()">
      <i class="icon">🚪</i> Logout
    </li>
  </ul>
</div> -->

<!-- 
<div class="sidebar">
  <h2>Banking System</h2>
  <ul>
    <li *ngIf="userRole === 'Admin'" (click)="navigateTo('manage-account')">
      👤 Manage Account
    </li>
    <li *ngIf="userRole === 'Admin'" (click)="navigateTo('search-account')">
      🔍 Search Account
    </li>

    <li *ngIf="userRole === 'User'" (click)="navigateTo('deposit-money')">
      🏦 Deposit Money
    </li>
    <li *ngIf="userRole === 'User'" (click)="navigateTo('withdraw-money')">
      💰 Withdraw Money
    </li>
    <li *ngIf="userRole === 'User'" (click)="navigateTo('view-balance')">
      📊 View Balance
    </li>

    <li (click)="logout()">🚪 Logout</li>
  </ul>
</div> -->



 <div class="app-container">
  <div class="sidebar">
    <h2>Banking System</h2>
    <ul>
      <li [class.active]="isActive('/dashboard')">
        <a routerLink="/dashboard">  <i class="icon">📊</i>Dashboard</a>
      </li>
      
      <li *ngIf="isEmployee()" [class.active]="isActive('/create-account')">
  <a routerLink="/create-account"><i class="icon">🆕</i> Create Account</a>
</li>


      <!-- <li  [class.active]="isActive('/manage-account')">
        <a routerLink="/manage-account"> <i class="icon">👤</i>Manage Account</a>
      </li> -->
      <!-- <li *ngIf="isAdmin" [class.active]="isActive('/search-account')">
        <a routerLink="/search-account"><i class="icon">🔍</i>Search Account</a>
      </li> -->
      <!-- <li [class.active]="isActive('/view-transaction')">
        <a routerLink="/view-transaction"><i class="icon">💸</i> View Transaction</a>
      </li> -->
      <!-- <li *ngIf="!isAdmin" [class.active]="isActive('/view-balance')">
        <a routerLink="/view-balance"> <i class="icon">💰</i>View Balance</a>
      </li> -->
      <li *ngIf="isEmployee()" [class.active]="isActive('/app-deposit-money')">
        <a routerLink="/app-deposit-money"> <i class="icon">🏦</i> Deposit Money</a>
      </li>
      <li *ngIf="isEmployee()" [class.active]="isActive('/app-withdraw-money')">
        <a routerLink="/app-withdraw-money"> <i class="icon">💰</i>Withdraw Money</a>
      </li>
      <li *ngIf="isCustomer()" [class.active]="isActive('/update-profile')">
  <a routerLink="/update-profile"><i class="icon">📝</i> Update Profile</a>
</li>
      <!-- <li  *ngIf="isCustomer()" [class.active]="isActive('/emi-calculator')">
  <a routerLink="/emi-calculator"><i class="icon">📈</i> EMI Calculator</a>
</li> -->
<li  *ngIf="isCustomer()" [class.active]="isActive('/statement')">
  <a routerLink="/statement"><i class="icon">🧾</i> Bank Statement</a>
</li>
<li *ngIf="isEmployee()" [class.active]="isActive('/apply-loan')">
  <a routerLink="/apply-loan"><i class="icon">📄</i> Apply Loan</a>
</li>

<li *ngIf="isCustomer()" [class.active]="isActive('/apply-loan')">
  <a routerLink="/apply-loan"><i class="icon">📄</i> Apply Loan</a>
</li>

<li  *ngIf="isCustomer()" [class.active]="isActive('/app-add-beneficiary')">
  <a routerLink="/app-add-beneficiary"><i class="icon">➕</i> Add Beneficiary</a>
</li>
<li *ngIf="isManager()" [class.active]="isActive('/pending-request')">
  <a routerLink="/pending-request"><i class="icon">🕓</i> Pending Request</a>
</li>
<li *ngIf="isManager()" [class.active]="isActive('/customer')">
  <a routerLink="/app-customer"><i class="icon">👥</i> Customer</a>
</li>
<li *ngIf="isManager()" [class.active]="isActive('/app-account')">
  <a routerLink="/app-account"><i class="icon">🏦</i> Account</a>
</li>
<!-- <li [class.active]="isActive('/app-employee')">
  <a routerLink="/app-employee"><i class="icon">👔</i> Employees</a>
</li> -->
<li *ngIf="isManager()" [class.active]="isActive('/employee')">
  <a routerLink="/employee"><i class="icon">👔</i> Employees</a>
</li>



<li *ngIf="isEmployee() || isCustomer() || isManager()" [class.active]="isActive('/fund-transfer')">
  <a routerLink="/fund-transfer"><i class="icon">💳</i> Fund Transfer</a>
</li>

      <li class="logout">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>

</div>

<!-- 
  <div class="main-content">
    <router-outlet></router-outlet>
  </div> -->